
body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    display: block;
    font-size: 16px;
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

p {
    font-size: 21px;
    color: gray;
}